@page "/"
@inherits OrderBase
@inject NavigationManager _nav

<h3 class="mb-5">Orders</h3>

<div>
    <button type="button" class="btn btn-primary" @onclick="@(()=>_nav.NavigateTo("/addneworder"))">Add new order</button>
</div>


@if (Orders == null)
{
    <h3>Loading...</h3>
}
else
{
    var orderCount = Orders.Count();

    if (orderCount > 0)
    {
        @foreach (var order in Orders)
        {
        <div class="col-md-12 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">
                       @order.CreateDate 
                    </h5>
                    <h5 class="card-title mb-3">
                        Status: @order.Status
                    </h5>
                    <h5 class="card-title mb-3">
                        Order ID: @order.Id
                    </h5>
                    <p class="card-text">
                        <b>Client name: @order.ClientName</b>
                    </p>
                    <p class="card-text">
                        <b>Total price: @order.OrderPrice.ToString("C")</b>
                    </p>
                    <p class="card-text">
                        <b>Additional information: @order.AdditionalInfo</b>
                    </p>
                </div>
                    <div class="container row">
                    @foreach (var items in order.OrderLines)
                        {
                            <div class="row mr-4 ml-4 mt-2 mb-2">
                                <div class="col-sm-1 mr-4 ml-4 mt-2 mb-2">
                                    <b>@items.Id</b>
                                </div>
                                <div class="col mr-4 ml-4 mt-2 mb-2">
                                    <b>Product: @items.Product</b>
                                </div>
                                <div class="col mr-4 ml-4 mt-2 mb-2">
                                    <b>Price: @items.Price.ToString("C")</b>
                                </div>
                            </div>
                        }
                </div>
                <div>
                        <button type="button" class="btn btn-primary" @onclick="@(() => DeleteOrder(order) )">Delete this Order</button>
                </div>
            </div>
        </div>
        }
    }
}